<!DOCTYPE html>
<html lang="en">
<head>
    <script th:src="@{/login.js}"></script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form method="post" id="loginForm" action="/login">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" value="qwe" required/><br>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" value="111" required/><br>
    <input type="submit" value="Login"/><br>
    <input type="button" onclick="register()" value="Register" />
</form>
</body>
</html>







