<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistical</title>
</head>
<body>
<form action="" method="post">
    <label for="calendar"></label>
    <input type="date" id="calendar" name="calendar"><br>
    <label for="targets">Targets: </label>
    <input type="text" id="targets" name="targets">
    <label for="income">Income: </label>
    <input type="text" id="income" name="income"><br>
    <label for="sum">Sum</label>
    <input type="text" id="sum" name="sum">

    <input type="text" readonly id="dapositAmount" >
</form>
</body>
</html>