<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Withdraw</title>
</head>
<body>
<form th:action="@{/home}" method="get">
    <h2>Withdraw</h2>
    <input type="text" readonly disabled th:value="${withdraw.getDate()}"/>
    <input type="text" readonly disabled th:value="${withdraw.getAmount()}"/>
    <input type="text" readonly disabled th:value="${withdraw.getDescription()}"/>
    <input type="submit" value="Go To Home">
</form>
</body>
</html>